---
import Layout from "../layouts/Layout.astro";
import { developers } from "../utils/devsInfo";
import DevCard from "../components/DevCard.astro";
---

<Layout title="Monkey Developers">
  <section class="h-screen w-screen">
    <div
      class="h-full w-full"
    >
      {
        developers.map((dev) => (
          <div class="h-96 w-80">
            <DevCard name={dev.name} />
          </div>
        ))
      }
    </div>
  </section>
</Layout>
