---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="justify-center items-center flex flex-col h-screen bg-[#1c1c1c]">
    <h1 class="font-black text-2xl">MonkeyDevs</h1>
    <p>the best!!!!!</p>

    <h3>Members!! (Monkeys)</h3>
    <ul>
      <li>Vitor Miura</li>
      <li>Abe Guilherme</li>
      <li>Viktor Marinho</li>
      <li>Vinicius Ventura</li>
      <li>Igor Oliveira</li>
    </ul>
    <div class="h-96 w-72 ">
      <Card title="teste blob" paragraph="AUSHAUSHAshpiofnwsejfgnwslkfgnwsjf" image="/aot.jpg" link_href="/projetos"/>
    </div>
  </main>
  
</Layout>
