---
import AboutUs from "../components/AboutUs.astro";
import Enterprises from "../components/Enterprises.astro";
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Navbar />
    <Hero />
    <AboutUs />
    <Enterprises />
  </main>
</Layout>
