---
import Layout from "../layouts/Layout.astro";
import AnimatedTextGradient from "../components/AnimatedTextGradient.astro";
---

<Layout title="MonkeyDevs">
  <main class="justify-center items-center flex flex-col fullScreen gap-3">
    <h1 class="font-black text-6xl">
      <AnimatedTextGradient
        from="from-teal-400"
        via="via-blue-600"
        to="to-violet-600"
        text="monkeydevs"
      />
    </h1>
  </main>
</Layout>
