---
import Browser from "../components/Browser.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Monkey Developers">
  <section class="flex flex-col items-center">
    <div class="h-[700px]"></div>
    <Browser currentPage="Notes" />
  </section>
</Layout>
