---
const {name, icon} = Astro.props
---

<div class="flex gap-4 shadow border justify-center items-center border-slate-500 cursor-pointer px-8 rounded-md w-64 py-4 bg-slate-700 hover:bg-slate-600">
    
    {icon}
    <p class="text-xl">{name}</p>
</div>