---
import ContactCard from "./contactCard.astro";
---

<div class="w-full flex flex-col justify-center items-center">
  <h2 class="text-5xl font-semibold mb-12">Onde nos encontrar</h2>
  <ContactCard name="papa" icon="./github.svg" />
</div>
