<div class="w-full flex flex-col items-center gap-10 pb-24">
  <h2 class="text-2xl">Empresas que usam nossos projetos</h2>
  <div class="flex gap-32 overflow-x-scroll no-scrollbar px-40">
    <img src="./bosch-logo.svg" alt="" /><img
      src="./bosch-logo.svg"
      alt=""
    /><img src="./bosch-logo.svg" alt="" /><img
      src="./bosch-logo.svg"
      alt=""
    /><img src="./bosch-logo.svg" alt="" /><img src="./bosch-logo.svg" alt="" />
  </div>
</div>

<style>
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
