<nav class="h-20 bg-slate-900 flex items-center w-full px-96 gap-48">
  <img src="./logo_navbar.svg" class="w-56" alt="" />
  <div class="text-xl flex gap-24">
    <a href="">Sobre</a>
    <a href="">Blog</a>
    <a href="">Projetos</a>
    <a href="">Devs</a>
  </div>
</nav>
