---
const { page } = Astro.props;

const items = [
  {
    item: "Sobre",
    link: "#",
  },
  { item: "Blog", link: "#" },
  { item: "Projetos", link: "#" },
  { item: "Devs", link: "#" },
];
---

<nav class="h-28 bg-slate-900 flex items-center w-full px-96 gap-32">
  <a href="/"><img src="./logo_navbar.svg" class="w-60" alt="" /></a>
  <div class="text-xl flex gap-20">
    {
      items.map((i) => (
        <div class="group flex flex-col items-center relative">
          <a href={i.link}>{i.item}</a>
          <div
            class={`bg-teal-800 w-2 h-2 rounded-full absolute top-9 group-hover:flex ${
              page === i.item ? "bg-teal-500" : "hidden"
            }`}
          />
        </div>
      ))
    }
  </div>
</nav>
