<section class="px-96 mt-52 mb-72">
  <div class="text-center flex flex-col gap-10">
    <h1 class="text-5xl font-semibold">Projetos</h1>
    <p class="text-xl">
      Alguns projetos que já desenvolvemos e uma breve descrição sobre cada um
    </p>
  </div>
  
</section>
